@font-face {
  font-family: 'Varela'; 
  src: url("./VarelaRound-Regular.ttf");
}
#box {width: 410px; border-radius: 10px}
html {
  font-family: 'Varela', sans-serif;
  background-color: black;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  scroll-behavior: smooth;
    line-height: 1.4
}

.collapse {
    width: 0px
}

#butn {margin: 5px; width: 360px; margin-top: 2px}
#butnn {margin: 5px; width: 370px; margin-top: 2px}

@media only screen and (max-width: 780px) {
  html {
    margin-left: 0;
    margin-right: 0;
  }
}

h1 {
    font-size: 18px;
    margin-top: 18px;
}

header {
  font-size: 30px;
  margin-top: 15px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.topnav {
  overflow: hidden;
  position: sticky;
  margin-top: 10px;
  margin-bottom: 10px
}

.topnav a {
	transition: 0.2s;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  user-select: none;
  text-shadow: none;
  border-radius: 15px;
  border-style: solid;
  border-color: #0072ff;
  border-width: 2px;
  margin: 5px
}

.topnav a:hover {
transition: 0.2s;
border-left-color: #0072ff;
border-left-width: 10px
}

.topnav a.active {
	transition: 0.2s;
  background-color: #0072ff;
  color: black;
  
}
.topnav a:active {
		  transition: 0.2s;
  color: #0072ff;
  border-left-width: 2px;
}

.topnav a.active:active {
	transition: 0.2s;
    border-left-width: 2px;
  
}

.button {
  transition: 0.2s;
  background-color: #000000;
  color: #0072ff;
    border-style: solid;
    border-color: #0072ff;
  border-width: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 10px;
  border-width: 2px;
}

.button:active {
	  transition: 0.2s;
  color: #0072ff;
  border-left-width: 2px;
}

.button:hover {
  transition: 0.2s;
  background-color: #000000;
    border-style: solid;
    border-color: #0072ff;
  border-width: 2px;
  border-left-width: 10px;
}

.card {
	transition: 0.2s;
  width: 390px;
  border-style: solid;
  border-radius: 15px;
  background-color: black;
  border-color: #0072ff;
  border-width: 2px;
  margin: 7px;
  padding: 5px;
}

.card:hover {
	transition: 0.2s;
  border-left-width: 15px;
  border-left-color: #0072ff;
}

.card:active {
	transition: 0.2s;
	  border-left-width: 2px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}


.container {
  padding: 2px 16px;
}

@media only screen and (max-width: 780px) {
  .card {
    width: 97%;
  }
  #true {
    display: none;
  }
  #box {width: 97%}
    #spot {width: 97%}
    #fea {width: 95.5%}
    #butn {width: 95.5%}
    #butnn {width: 98.5%}
}

.xt-ct-menu {
  position: relative;
  display: inline-block;
  float: right;
}

.xtlab-ctmenu-item:hover {
  transition:0.2s;
  background-color: #0072ff;
  border-left-width: 10px
}

.xtlab-ctmenu-item {
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 15px;
  border-style: solid;
  border-color: #0072ff;
  border-width: 2px;
  cursor: pointer;
}

.xtlab-ctmenu-item:active {
  transition:0.2s;
  border-left-width: 2px
}

.xtlab-ctmenu-sub a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.xtlab-ctmenu-sub a:hover {
  transition:0.2s;
  background-color: #0072ff;
  border-left-width: 10px
}